<% if (Jana.user && Jana.user.get('admin')) { %>

  <div
    data-id="<%= piece.get('id') %>"
    data-action='editPiece'
    class='adminButton piece'>
  	<h3><%= piece.escape('title') %></h3>
  	<img src="<%= piece.get('smallUrl') %>">
  	<p class='caption'><%= piece.escape('caption') %></p>
  </div>


<% } else { %>

  <div data-id="<%= piece.get('id') %>" class='viewPiece piece'>
  	<img src="<%= piece.get('smallUrl') %>">
  	<p class='caption'><%= piece.escape('caption') %></p>
  </div>

<% } %>